#slides {
    overflow-x: scroll;
     overflow-y:hidden;
    height: 22.8vh;
    margin: 0px, 10px;
}

#slides::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.1vh;
}

#slides::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:#417378;
    height: 1vh;
}


/*.container {
		margin: 1vh, 1vw;
	}*/


.newclip {
    float: left;
    border-radius: 8px;
    margin: 0px 10px;
    width: 20vw;
    height: 20vh;
    /*border: 5px dashed gray;
    border-radius: 5px;*/
}

.el-icon-plus {
    position: relative;
    top: 7vw;
    color: white;
    font-size: 5vw;
}

.el-icon-plus:hover {
    font-size: 7vw;
}

ul {
    list-style-type: none;
}
