/*#slides {
    overflow-x: scroll;
     overflow-y:hidden;
    height: 22.8vh;
    margin: 0px, 10px;
}

#slides::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.1vh;
}

#slides::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color:#4F8C91;
    height: 1vh;
}


.container {
		margin: 1vh, 1vw;
	}


.newclip {
    float: left;
    border-radius: 8px;
    margin: 0px 10px;
    width: 20vw;
    height: 20vh;
    /*border: 5px dashed gray;
}

.el-icon-plus {
    position: relative;
    top: 7vw;
    color: white;
    font-size: 5vw;
}

.el-icon-plus:hover {
    font-size: 7vw;
}

ul {
    list-style-type: none;
}*/

/*version 2*/
#slides {
    overflow-x: scroll;
     overflow-y:hidden;
    height: 14.5vh;
    /*width:58vw;*/
    margin: 1vh 1vw 1.5vh 0.5vw;
    background-color: var(--color-white);
    box-shadow: 2px 2px 1px var(--color-gray);
    }

#slides::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 0.6vh;
}

#slides::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: var(--color-blue-gray);
    opacity:0.4;
    margin-left: 5px;
}


/*.container {
		margin: 1vh, 1vw;
	}*/


.newclip {
    float: left;
    border-radius: 8px;
    margin: 0px 10px;
    width: 20vw;
    height: 20vh;
    /*border: 5px dashed gray;
    border-radius: 5px;*/
}

.el-icon-plus {
    position: relative;
    top: 7vw;
    color: white;
    font-size: 5vw;
}

.el-icon-plus:hover {
    font-size: 7vw;
}

ul {
    list-style-type: none;
}

.shadow-left {
    position: absolute;
    z-index: 2;
    box-shadow: 10px 3px 10px -7px var(--color-gray) inset;
    height: 15vh;
    width:15px;
    margin-left: 5px;
}
/*
.shadow-right {
    float:right;
    z-index: 2;
    box-shadow: -10px 0px 5px -7px var(-grayue-dark) inset;
    height: 22.5vh;
    width:10px;
    margin-right: 10px;
}*/
/*.container{
    box-shadow: -10px 10px 5px  var(--cograydark) inset;
}*/
