<div id="slides">
    <div class="container" :style="{width:calculatedWidth+'px'}">
        <span v-for="block in blocks" >
            <span v-for="mark in block.marks" >
                <draggable :list="mark.channels" >
                    <slide v-for="channel in mark.channels"
                        v-if="!channel.removed"
                        :block="block"
                        :mark="mark"
                        :channel="channel"
                    />
                </draggable>
            </span>
        </span>
    </div>
</div>
