<div id="slides">
    <div class="container" :style="{width:calculatedWidth+'px'}">
        <span v-for="block in blocks" >
            <span v-for="markId in block.marks" >
                <draggable :list="marks[markId].channels" >
                    <slide v-for="channelId in marks[markId].channels"
                        v-if="!channels[channelId].removed"
                        :block="block"
                        :mark="marks[markId]"
                        :channel="channels[channelId]"
                    />
                </draggable>
            </span>
        </span>
    </div>
</div>
