build/*.js
config/*.js
src/VisFigure.vue
src/algorithm/*.js
src/utils/*.js
src/canvas
src/interaction/*.js
src/components/VisFigure.vue
src/components/FigSource
src/components/editor
src/components/Survey
src/VisFigure.vue
src/App.vue
