/*.editor {
    border-radius: 6px;
    width:56.4vw;
    height: 60vh;
    border: 0.4vw solid var(--color-2);
}

textarea:active,
textarea:focus {
    outline: none;
}
textarea{
    position: float;
    border: 2px solid var(--color-2);
    border-radius: 6px;
}*/

/*version 2*/
.editor {
    /*border-radius: 6px;*/
    /*width:57vw;*/
    height: 55vh;
    /*border: 0.4vw solid var(--color-2);*/
    border:none;
    background-color:var(--color-white);
    box-shadow: 2px 2px 1px var(--color-gray);
    margin:1vh 1vw 0vh 0.5vw;
}

textarea:active,textarea:focus {
    outline: none;
}
textarea{
    /*position: float;*/
    margin:2px;
    height:5vh;
    width:95%;
    border-radius: 5px;
    border:1px solid var(--color-gray);
}
.el-select{
    width:95%;
    margin:2px;
}
.editPanel{
    border-radius:4px;
    height:20vh;
    width:15vw;
    background-color: var(--color-blue-gray);
    box-shadow: 1px 1px 0.5px var(--color-gray);
    z-index:1;
}
.svgEditor {
    width: 100%;
    height: 100%;
}
.canvas {
    width: 100%;
    height: 100%;
}


