<div class="editor" id='positionTag' data-step="6" data-intro="add annotation" data-position='bottom'>
    <div id='editorView'>
        <canvas class='editorCanvas'></canvas>
        <svg class='editorSVG'><svg>
    </div>
    <div class='editPanel' v-if='editing' draggable='true' @dragstart='dragstart' @drag='drag' :style="styleObject">
        Text Based Annotation
        <textarea @keydown.enter='exit()' v-model="message" @input='editEle(message)' placeholder="edit the selected element here">
        </textarea>
        Symbol Based Annotation
        <i class="el-icon-setting"></i>
        <SymbolButton category='size' type='horizontal'>
        </SymbolButton>
        <SymbolButton category='size' type='vertical'>
        </SymbolButton>
    </div>
    <!--
    <svg class='svgEditor' width="55vw" height="55vh" @drop.prevent='ondrop'>
    </svg>
    !-->
</div>