<div class="editor" id='positionTag'>

    <div class='editPanel' v-if='selectedEle'
    draggable='true' @dragstart='dragstart' @drag='drag' 
    :style="styleObject"
    >
    Annotation
    <textarea
    @keydown.enter='exit()'
    v-model="message" @input='editItem(message)'
    placeholder="edit the selected element here">
    </textarea>
    Animation <i class="el-icon-setting"></i>
    <el-select v-model="value" placeholder="add color"></el-select>
    </div>
    <svg class='svgEditor' width="55vw" height="55vh" @drop.prevent='ondrop'>
    </svg>
</div>
