	:root{
        --color-0:#FFFCF0;
        --color-1:#F4F7D9;
        --color-2:#A4CFBE;
        --color-3:#417378;
        --color-4:#6C6E58;
        --color-5:#3E423A;
    }
    .app{
        background-color:var(--color-0);
        /*font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;*/
    }
    .el-row {
	    margin-bottom: 10px;
	    /*&:last-child {
	        margin-bottom: 0;
	    }*/
	}

	.el-col {
	    border-radius: 4px;
	}

