<div data-step="2" data-intro="refine the auto cluser of components" data-position='right'
    class="figure-source">
		<div class="figure-tabs_header" data-step="3" data-intro="what is the structure of visual units" data-position='right'>

            <div v-for="item in blocks" :class="figure_tabs_class(item)" @click="onTabClick(item)">
			{{item.name}}
			</div>

            <div  :class="figure_tabs_class(item)">
                <el-dropdown >
                        <span class="el-dropdown-link" :class="figure_tabs_class(item)">
                           <i class="fa fa-volume-control-phone"></i>
                        </span>
                    <el-dropdown-menu slot="dropdown">
                            <span v-for='temp in temps' @click='addBlock(temp)'>
                            <el-dropdown-item >
                               {{temp.name}}
                            </el-dropdown-item>
                              </span>
                    </el-dropdown-menu>
                 </el-dropdown>
                 <i class="fa fa-plus-circle" @click="addTab() "></i>
                 <i class="fa fa-trash-o" @click="deleteTab() "></i>
            </div>

		</div>

		<div class="figure-content">
			<canvas class="figure-main-view"
			@mousemove="onMousemove"
			@click.prevent="onClick" @contextmenu.prevent="onRightClick"
			>
			</canvas>
		</div>

	</div>
