
  .inBlock {
      min-height: 15vh;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 57vw;
      margin: 1vh 0.5vw;
      background-color: var(--color-white);
      color: var(--color-blue-dark);
      box-shadow: 2px 2px 1px var(--color-gray);
  }

  .inBlock::-webkit-scrollbar {
      width: 1vh;
  }

  .inBlock::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: var(--color-blue-dark);
      width: 1vh;
  }

  .slide-view {
      min-height: 15vh; 
  }