 h3 {
     opacity: 0.75;
     margin: 5px 20px 0px;
     color: white;
 }
 
 i.el-icon-circle-close {
     position: absolute;
     right: 10px;
     top: 2px;
     color: white;
     font-size: 20px;
 }
 
 i.el-icon-circle-plus {
     font-size: 20px;
 }
 
 .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
 }
 
 .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
 }