<div class="headline">
    <p id='name'> NarVis</p>

    <span class="iconGroup">
           <div style='float:right' @click=" " >
           <i class="fa fa-globe" ></i>
           <br/>explore
            </div>


           <div style='float:right' @click="save" >
           <i class="fa fa-download"></i>
           <br/>save
           </div>

           <div style='float:right'>
           <i class="fa fa-eye" @click="showView = !showView"></i>
           <br/>preview
           </div>


            <div style='float:right' @click="showForm = !showForm" >
            <i class="fa fa-upload"></i>
            <br/>import
            </div>
       </span>

    <el-dialog class='preview' v-model="showView" size='large' title='Preview'>
    </el-dialog>

    <el-dialog class='selectImport' v-model="showForm" size='tiny' title="Import">
        <el-upload class="upload-demo" action="//jsonplaceholder.typicode.com/posts/">
            <el-button size="small" :plain="true" type="info">upload a picture</el-button>
            only jpg/png less then 500kb
        </el-upload>
        <el-input type="textarea" :rows="6" :cols="40" placeholder="add the text description here" v-model="textDescription">
        </el-input>
        <el-button type="info" size="mini">import</el-button>
        <br/> OR
        <br/>
        <el-select v-model="value" placeholder="choose an example">
            <el-option v-for="item in options" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
    </el-dialog>
</div>
