.clip {
		border-radius: 8px;
		margin: 0px 1vw;
		width: 20vw;
		height: 20vh;
		float: left;
	}

.el-icon-close {
		float: right;
		color: white;
		font-size: 1vw;
	}

.el-icon-close:hover {
		font-size: 1.2vw;
	}
