<div class="clip bg-purple-dark"
    :style="styleObject"
    @click="selectItem(item)"
>
    <i class="el-icon-circle-close" @click="removeItem(item)" /> i am a cute slider {{index}}
    <br/> {{item.content}}
    <!--<div class="attachedEle" v-for="img in item.attachedEle">
        <img :src="img" alt="hhh" height="122" width="62">
    </div>-->
    <br/># of attached elements {{item.attachedEles.length}}
    <svg :width="width" :height="height">
        <g style="transform: translate(0, 10px)">
            <!--<path :d="line" />-->
        </g>
  </svg>
</div>
