<div class="clip bg-purple-dark" @click="selectItem(item)" :style="styleObject" @drop="drop" @dragover="allowDrop">
    <i class="el-icon-circle-close" @click="removeItem(item)" /> i am a cute slider {{index}}
    <br/> {{item.content}}
    <div class='attachedEle' v-for="img in item.attachedEle">
        <img :src="img" alt="hhh" height="122" width="62" draggable="true" @dragstart="drag">
    </div>
    <br/># of attached elements {{item.attachedEle.length}}
    <!--
		<h2>List 1 Draggable</h2>
		<draggable :list="list" class="dragArea" :options="{group:'people'}">
			<div v-for="element in list">{{element.name}}</div>
		</draggable>

		<h2>List 2 Draggable</h2>
		<draggable :list="list2" class="dragArea" :options="{group:'people'}">
			<div v-for="element in list2">{{element.name}}</div>
		</draggable>-->

</div>
